<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= params['id'].to_i %></h1>
    <p>
    Son auteur : <%= gossip.author %><br/>
    Le contenu du potin : <%= gossip.content %>
    </p>
    <a href="/gossips/<%= id%>/edit">éditer un potin</a><br/>
    <a href="/gossips/new">Crée un potin</a><br/>
    <a href="/">Accueil</a>
  </body>
</html>